.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background: black;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 3px;
  background: linear-gradient(-45deg, red, blue, yellow, pink, lightgreen);
  background-clip: text;
  color: transparent;
  animation: arcoirir 5s linear infinite;
  animation: arcoiris 3s linear infinite;
}
img{
  border: 3px solid green;
  border-radius: 50%;
  box-shadow: 0 0 20px violet;
  animation: rotar 5s ease-in-out infinite;
}

@keyframes arcoiris{
    from{filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);  
}
 }

@keyframes flotar{
    0%, 100%{
      transform: scale(0.85) translateY(0) ;
    }
    50% { transform: scale(1.15) translateY(77px);}
}


@keyframes rotar{
  0%, 100% {transform: rotate(0deg);}
  25%, 75%{ transform: rotate(45deg);}
  50%{ transform: rotate(180deg);}
}


